{% if articles %}
<div class="row row-gap-4 row-cols-lg-4 row-cols-md-3 row-cols-2">
  {% for article in articles %}
  <article class="card card-borderless bg-transparent card-link-pop">
    <a href="{{ article.get_absolute_url }}" class="text-decoration-none text-body">
      <div class="ratio ratio-4x3">
        <img src="{{ article.thumbnail.url }}" class="rounded-4" loading="lazy">
      </div>
      <div class="d-flex mt-2">
        <img src="{{ article.author.get_avatar_url }}" class="avatar avatar-rounded">
        <div class="ms-2">
          <div class="fs-3 fw-bold lh-sm">{{ article|truncatechars:56 }}</div>
          <small class="text-muted">{{ article.author }}</small>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
</div>
{% endif %}
