{% if articles %}
<ul class="list-unstyled mb-0 row">
  {% for article in articles %}
  <li class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <article class="component-article-listing scale-in">
      <img src="{{ article.thumbnail.url }}" class="article-listing__thumbnail" alt="Thumbnail" loading="lazy">
      <h6 class="mt-xl-3 mt-2 mb-1 article-listing__category">{{ article.category }}</h6>
      <a href="{{ article.get_absolute_url }}" class="article-listing__heading">
        <p class="mb-0 fs-base text-truncate">{{ article }}</p>
      </a>
      <h6 class="mt-1 article-listing__author">By {{ article.author.get_full_name }}</h6>
    </article>
  </li>
  {% endfor %}
</ul>
{% include 'articles/includes/pagination.html' %}
{% else %}
<h1 class="fs-4">There are no articles yet.</h1>
<div class="d-flex">
  <a href="{% url 'articles:article_create' %}" class="btn btn-primary">Create an article</a>
</div>
{% endif %}
