{% if articles %}
<div class="row row-gap-4">
  {% for article in articles %}
  <div class="{% if col_class %}{{ col_class }}{% else %}col-lg-3 col-md-4 col-sm-6 col-12{% endif %}">
    <article class="card border-0 bg-body card-link-pop">
      <a href="{{ article.get_absolute_url }}" class="text-decoration-none text-body fw-bold" title="{{ article }}">
        <div class="ratio ratio-4x3">
          <img src="{{ article.thumbnail.url }}" class="rounded-4" loading="lazy">
        </div>
        <div class="d-flex mt-2">
          <img src="{{ article.author.get_avatar_url }}" class="avatar rounded-4">
          <div class="ms-2">
            <span class="badge bg-primary-lt">{{ article.categories }}</span>
            {% if chars %}
            <div class="fs-3 mt-1">{{ article|truncatechars:chars }}</div>
            {% else %}
            <div class="fs-3 mt-1">{{ article|truncatechars:32 }}</div>
            {% endif %}
          </div>
        </div>
      </a>      
    </article>
  </div>
  {% endfor %}
</div>
{% endif %}
