{% if article.author.bio %}
<section class="card">
  <div class="card-stamp">
    <div class="card-stamp-icon bg-yellow"><i class="ti ti-license"></i></div>
  </div>
  <div class="card-body">
    <h2>About the author</h2>
    <div class="d-flex gap-3">
      <img src="{{ author.get_avatar_url }}" class="align-self-start avatar avatar-md rounded-4">
      <div>
        <div class="d-flex align-items-center gap-2 mb-1">
          <h3 class="card-title mb-0">
            {{ author.get_full_name }}
          </h3>
          <span class="badge bg-success-lt">Author</span>
        </div>
        <p class="card-text">{{ author.bio }}</p>
      </div>
    </div>
  </div>
</section>
{% endif %}
