{% load static %}

<header class="sticky-top border-bottom py-2">
    <div class="container-xxl">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <a href="{% url 'home' %}" class="d-flex align-items-center">
                <img src="{% static 'feed/dist/images/logo.png' %}" alt="Logo" width="32" height="32">
            </a>
            <div class="ms-auto me-3">
                <a href="{% url 'search' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path id="primary" d="M19,11a8,8,0,1,1-8-8A8,8,0,0,1,19,11Zm2,10-4.34-4.34" style="fill: none; stroke: #333640; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path></svg>
                </a>
            </div>
            {% if request.user.is_authenticated %}
            <div class="dropdown text-end">
                <a href="#" type="button" class="d-block rounded p-1 dropdown-toggle user-menu-dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}{% static 'feed/dist/images/user.png' %}{% endif %}" alt="Profile photo" width="32" height="32" class="rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-dark dropdown-chevron" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                    <li class="p-2">
                        <a class="dropdown-item py-2 pe-1 rounded border" href="{% url 'profile' %}">
                            <div class="d-flex align-items-center fs-sm">
                                <img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}{% static 'feed/dist/images/user.png' %}{% endif %}" alt="Profile photo" width="32" height="32" class="rounded-circle">
                                <div class="ms-2">
                                    <p class="mb-0 lh-sm fw-medium">{{ user.get_full_name }}</p>
                                    <p class="mb-0 lh-sm text-muted">Customize profile</p>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-2 align-self-center text-muted" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <polyline points="9 6 15 12 9 18"></polyline>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                    <hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'post_create' %}">
                            <div class="d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M19 10h-14"></path>
                                   <path d="M5 6h14"></path>
                                   <path d="M14 14h-9"></path>
                                   <path d="M5 18h6"></path>
                                   <path d="M18 15v6"></path>
                                   <path d="M15 18h6"></path>
                                </svg>
                                Create a post
                            </div> 
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M13 7a2 2 0 0 1 2 2v12l-5 -3l-5 3v-12a2 2 0 0 1 2 -2h6z"></path>
                                    <path d="M9.265 4a2 2 0 0 1 1.735 -1h6a2 2 0 0 1 2 2v12l-1 -.6"></path>
                                </svg>
                                Bookmarks
                            </div> 
                        </a>
                    </li>
                    {% if request.user.is_staff %}
                    <li>
                        <a class="dropdown-item" href="{% url 'admin:index' %}">
                            <div class="d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 4h6v8h-6z"></path>
                                    <path d="M4 16h6v4h-6z"></path>
                                    <path d="M14 12h6v8h-6z"></path>
                                    <path d="M14 4h6v4h-6z"></path>
                                </svg>
                                Admin Panel
                            </div> 
                        </a>
                    </li>
                    {% endif %}
                    <li>
                    <hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <div class="d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                                 </svg>
                                 <p class="m-0">Sign out</p>
                            </div> 
                        </a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="text-end">
                <a href="{% url 'login' %}" type="button" class="btn btn-sm btn-outline-primary me-2">Login</a>
                <a href="{% url 'register' %}" type="button" class="btn btn-sm btn-primary">Sign up</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
