{% load static %}

<article>
    <section class="d-flex align-items-center gap-1 mb-2">
        {% include 'feed/includes/user_avatar.html' with user=user width=24 class='rounded-circle' %}
        <a href="{{ post.author.get_absolute_url }}" class="text-dark ms-1">{{ post.author.get_full_name }}</a>
        <span class="circle-divider fs-sm"></span>
        <time datetime="{{ post.created_at|date:"Y-m-d" }}" class="text-muted">{{ post.created_at|date:"F d, Y" }}</time>
    </section>
    <section class="d-flex">
        <div class="d-flex flex-column flex-fill">
            <div class="position-relative flex-fill text-break pb-1">
                <a href="{{ post.get_absolute_url }}" class="lh-1 fs-6 article-listing__heading">{{ post.title|truncatechars:48 }}</a>
                <p class="mb-0 mt-1 fs-md lh-sm">{{ post.description|truncatechars:128 }}</p>
            </div>
            <div class="d-block">
                <a href="{{ post.category.get_absolute_url }}"><span class="badge category-badge">{{ post.category.name }}</span></a>
            </div>
        </div>
        <a href="{{ post.get_absolute_url }}" class="search-result__image ps-4"><img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" loading="lazy"></a>
    </section>
</article>
