@import url('https://rsms.me/inter/inter.css');

:root {
  --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
  font-feature-settings: "cv03", "cv04", "cv11";
}

[id] {
  scroll-margin: 4rem;
}

.img-darken {
  transition: filter 200ms ease-out;
}

.img-darken:hover {
  filter: brightness(90%);
}

.img-darken:active {
  filter: brightness(75%);
}

@media (min-width: 992px) {
  .sidebar {
    position: sticky;
    z-index: 1;
    top: 4rem;
    overflow-y: auto;
    height: 90vh;
  }
}
