[id] {
  scroll-margin: var(--scroll-margin);
}

@media (min-width: 992px) {
  .sidebar {
    position: sticky;
    z-index: 1;
    top: var(--scroll-margin);
    overflow-y: auto;
    max-height: 90vh;
  }
}

.truncate {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  --max-lines: 2;
}

.htmx-indicator:not(.htmx-request) {
  display: none !important;
}

.dropdown-menu-arrow.dropdown-menu-end:before {
  right: 0.5rem !important;
  left: auto;
}
