[data-editorjs-textarea] {
  display: none !important;
}

[data-editorjs-holder] {
  width: 100% !important;
  max-width: none !important;
  border: $border-width $border-style $border-color-translucent !important;
}

.codex-editor__redactor {
  min-height: 30vh;
}

.codex-editor {
  .cdx-block {
    padding: 0 !important;
  }

  .ce-block a {
    text-decoration: none;
  }

  .ce-header {
    color: $body-color !important;
    font-weight: $headings-font-weight !important;
    line-height: $headings-line-height !important;
    margin-bottom: $headings-margin-bottom !important;
    padding: 0 !important;
  }

  h1.ce-header {
    font-size: $h1-font-size !important;
  }

  h2.ce-header {
    font-size: $h2-font-size !important;
  }

  h3.ce-header {
    font-size: $h3-font-size !important;
  }

  h4.ce-header {
    font-size: $h4-font-size !important;
  }

  .ce-paragraph {
    line-height: $line-height-base !important;
    margin-bottom: $paragraph-margin-bottom;
  }

  .cdx-list {
    padding-left: $spacer !important;

    .cdx-list__item {
      padding: 0 $list-inline-padding !important;
    }
  }

  .image-tool__image {
    border-radius: 0;
    margin-bottom: map-get($spacers, 2);
  }

  .image-tool__image-picture {
    border-radius: $border-radius;
    width: 100%;
  }

  .image-tool__caption,
  [data-item-name="withBorder"],
  [data-item-name="withBackground"],
  [data-item-name="stretched"] {
    display: none !important;
  }
}
