{% load static %}

<footer class="pt-4 pb-3 border-top">
    <div class="container-xxl d-flex justify-content-between align-items-center">
        <p class="mb-0 text-muted fs-sm">&copy; 2023 Idle Group Ltd.</p>
        <ul class="list-unstyled mb-0 d-flex flex-wrap gap-2 gap-sm-3">
            <li>
                <a class="d-block" href="https://www.pinterest.com/">
                    <i class="ti ti-brand-pinterest fs-5 text-body"></i>
                </a>
            </li>
            <li>
                <a class="d-block" href="https://www.instagram.com/">
                    <i class="ti ti-brand-instagram fs-5 text-body"></i>
                </a>
            </li>
            <li>
                <a class="d-block" href="https://www.linkedin.com/">
                    <i class="ti ti-brand-linkedin fs-5 text-body"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
