{% load static %}

<footer class="pt-4 pb-3 border-top">
    <div class="container-xxl d-flex justify-content-between align-items-center">
        <p class="mb-0 text-muted fs-sm">&copy; 2023 Idle Group Ltd.</p>
        <ul class="list-unstyled mb-0 d-flex flex-wrap gap-2 gap-sm-3">
            <li>
                <a class="d-block" href="https://www.pinterest.com/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon fs-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.75" stroke="#333460" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="8" y1="20" x2="12" y2="11"></line>
                        <path d="M10.7 14c.437 1.263 1.43 2 2.55 2c2.071 0 3.75 -1.554 3.75 -4a5 5 0 1 0 -9.7 1.7"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                    </svg>
                </a>
            </li>
            <li>
                <a class="d-block" href="https://www.instagram.com/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon fs-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.75" stroke="#333460" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="4" y="4" width="16" height="16" rx="4"></rect>
                        <circle cx="12" cy="12" r="3"></circle>
                        <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
                    </svg>
                </a>
            </li>
            <li>
                <a class="d-block" href="https://www.linkedin.com/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon fs-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.75" stroke="#333460" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                        <line x1="8" y1="11" x2="8" y2="16"></line>
                        <line x1="8" y1="8" x2="8" y2="8.01"></line>
                        <line x1="12" y1="16" x2="12" y2="11"></line>
                        <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>
