{% load static %}

<header class="sticky-top border-bottom py-3">
    <div class="container-xxl">
        <div class="d-flex flex-wrap align-items-center">
            <a href="{% url 'index' %}" class="d-flex align-items-center">
                <img src="{% static 'dist/images/logo_full.png' %}" style="height: 2rem;">
            </a>
            <div class="ms-auto d-flex align-items-center">
                <a href="{% url 'articles:search' %}" class="me-2 me-md-3 text-body d-block">
                    <i class="ti ti-search d-block fs-4"></i>
                </a>
                {% if request.user.is_authenticated %}
                <div class="dropdown text-end">
                    <a href="#" type="button" class="d-block rounded dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        {% include 'includes/user_avatar.html' with width='1.75rem' class='rounded-circle' %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end mt-1 shadow-sm">
                        <li class="p-2">
                            <a class="dropdown-item py-2 pe-1 rounded border" href="{% url 'accounts:profile' %}">
                                <div class="d-flex align-items-center fs-sm">
                                    {% include 'includes/user_avatar.html' with width='2rem' class='rounded' %}
                                    <div class="ms-2">
                                        <p class="mb-0 lh-sm fw-medium">{{ user.get_full_name }}</p>
                                        <p class="mb-0 lh-sm text-muted">Customize profile</p>
                                    </div>
                                    <i class="ti ti-chevron-right ms-2 align-self-center text-muted fs-6"></i>
                                </div>
                            </a>
                        </li>
                        <li class="p-0"><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="{% url 'articles:article_create' %}">
                                <i class="ti ti-square-plus"></i>
                                Create post
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="{% url 'articles:user' request.user.username %}">
                                <i class="ti ti-address-book"></i>
                                My profile
                            </a>
                        </li>
                        {% if request.user.is_staff %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="{% url 'admin:index' %}">
                                <i class="ti ti-server-2"></i>
                                Administration
                            </a>
                        </li>
                        {% endif %}
                        <li class="p-0"><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="{% url 'accounts:logout' %}">
                                <i class="ti ti-logout"></i>
                                Sign out
                            </a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="d-flex gap-2">
                    <a href="{% url 'accounts:login' %}" type="button" class="btn btn-sm btn-outline-primary">Login</a>
                    <a href="{% url 'accounts:register' %}" type="button" class="btn btn-sm btn-primary">Sign up</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
