{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}<title>{{ title }} - Masonex</title>{% endif %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <style>
      @import url('https://rsms.me/inter/inter.css');

      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/autosize@5.0.2/dist/autosize.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    {% block extrastyle %}
    {% endblock extrastyle %}
    {% block extrascript %}
    {% endblock extrascript %}
  </head>
  <body>
    {% block body %}
    <div class="page">
      {% include 'includes/header.html' %}
      <div class="page-wrapper">
        {% block wrapper %}
        <div class="container-xxl">
          <main class="page-body">
            {% block content %}
            {% endblock content %}
          </main>
        </div>
        {% endblock wrapper %}
      </div>
    </div>    
    {% endblock body %}
  </body>
</html>
