{% load static notifications_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% notifications_unread as unread_notifications_count %}
      {% if unread_notifications_count %}
      ({{ unread_notifications_count}}) 
      {% endif %}
      {% block title %}
        {% if title %}
          {{ title }}
        {% endif %}
      {% endblock title %}
       - Masonex
    </title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="https://cdn.jsdelivr.net/npm/autosize@5.0.2/dist/autosize.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <div class="page">
      {% include 'includes/header.html' %}
      <div class="page-wrapper">
        {% block wrapper %}
        <div class="container-xxl">
          <main class="page-body">
            {% block content %}
            {% endblock content %}
          </main>
        </div>
        {% endblock wrapper %}
      </div>
    </div>    
    {% endblock body %}
  </body>
</html>
