.ti {
  font-size: $icon-font-size;
}

.ce-scroll-locked header {
  z-index: 0 !important;
}

.dropdown {
  li {
    padding: 0 $dropdown-item-padding-x;
  }
}

.dropdown-menu {
  .ti {
    font-size: $dropdown-icon-font-size !important;
  }
}

.dropdown-item {
  border-radius: $border-radius;
  display: flex !important;
  align-items: center;
  gap: $dropdown-item-padding-x;
}

.bootstrap-select {
  .dropdown-toggle {
    &:focus {
      outline: none !important;
    }

    .filter-option-inner-inner {
      color: $body-color;
    }
  }

  .bs-searchbox {
    margin-bottom: map-get($spacers, 1);
  }

  .no-results {
    background-color: $white;
    border-radius: 0;
    margin: 0;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x * 2;
  }
}
