[id] {
  scroll-margin-top: calc(#{$header-height} / 2 + 0.5em) !important;
}

img,
.card,
.alert,
.pagination,
.list-group {
  box-shadow: $box-shadow-sm;
}

header {
  height: $header-height;
  box-shadow: $box-shadow-sm;
  background-color: rgba($white, 0.95);
  backdrop-filter: blur(2px);
}

.ce-scroll-locked header {
  z-index: 0 !important;
}

.icon {
  font-size: $icon-font-size;
}

.dropdown-menu {
  margin-top: map-get($spacers, 1) !important;
}

.dropdown-item {
  line-height: 1;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  
  .icon {
    margin-right: $dropdown-item-padding-x;
  }
}

.nav-link {
  line-height: 1;
  border-radius: $border-radius;
  display: flex;
  align-items: center;

  .icon {
    font-size: $h5-font-size !important;
    margin-right: map-get($spacers, 2);
  }
}

.bootstrap-select {
  .dropdown-toggle {
    &:focus {
      outline: none !important;
    }

    .filter-option-inner-inner {
      color: $body-color;
    }
  }

  .dropdown-menu {
    font-size: $font-size-base;
    padding-right: map-get($spacers, 2) !important;
  }

  .bs-searchbox {
    margin-bottom: map-get($spacers, 2);
  }

  .no-results {
    background-color: $white;
    border-radius: 0;
    margin: 0;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  }
}
