{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="flex-fill d-flex justify-content-center align-items-center flex-column py-4">
    <div class="w-sm-4">
        <header class="mb-3 text-center bg-transparent">
            <a href="{% url 'index' %}"><img src="{% static 'dist/images/logo.png' %}" width="56"></a>
        </header>
        <div class="mx-auto px-3">
            <main>
                <div class="mb-3 text-center">
                    <h1 class="fs-4">{{ title }} to Masonex</h1>
                </div>
                {% if form.non_field_errors or form.errors.items %}
                <section>
                    <ul class="list-unstyled mb-0">
                        {% for error in form.non_field_errors %}
                            <li>{% include 'includes/alert.html' with style='danger' content=error %}</li>
                        {% empty %}
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{% include 'includes/alert.html' with style='danger' content=error %}</li>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}
                <form method="post" class="p-3 border rounded bg-light needs-validation" novalidate>
                    {% csrf_token %}
                    {% block form_content %}{% endblock form_content %}
                </form>
            </main>
            <footer class="mt-3 p-3 rounded border text-center">
                {% block form_footer %}{% endblock form_footer %}
            </footer>
        </div>
    </div>
</div>
{% endblock body %}
