{% extends 'accounts/profile_update_form.html' %}
{% load static accounts_tags %}

{% block form_content %}
<div class="d-flex mb-2">
    <section class="me-2">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle dropdown-toggle-arrow-hide" id="avatar" data-bs-toggle="dropdown" aria-expanded="false">
                {% include 'includes/user_avatar.html' with width='3.4em' class='d-block' %}
            </a>
            <ul class="dropdown-menu border-0 shadow fs-md">
                <li>
                    <label for="{{ form.avatar.id_for_label }}" class="dropdown-item cursor-pointer">
                        {{ form.avatar.label }}
                        {{ form.avatar }}
                    </label>
                </li>
                {% if user.avatar %}
                <li>
                    <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#avatarDeleteModal">
                        {{ form.delete_avatar.label }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% include 'includes/form_field_delete_modal.html' with id='avatarDeleteModal' field=form.delete_avatar %}
    </section>
    <hgroup>
        <h2 class="mb-1 fs-md">{{ user.get_full_name }}</h2>
        <p class="mb-0 text-muted lh-1"><small>Provide basic information to make using Masonex more convenient</small></p>
    </hgroup>
</div>
<section class="mb-3">
    <fieldset>
        <fieldset class="row mb-1">
            <div class="col-6">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>
            <div class="col-6">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
                {{ form.last_name }}
            </div>
        </fieldset>
        <div class="col-12">
            <label for="{{ form.bio.id_for_label }}" class="form-label">{{ form.bio.label }}</label>
            {{ form.bio }}
        </div>
    </fieldset>
</section>
<section class="mb-3 border rounded p-2 col-12">
    <p class="form-label mb-n1">Email</p>
    <div class="d-flex justify-content-between align-items-center">
        <p class="m-0 fs-md">{{ request.user.email|truncatemail:2 }}</p>
        <a href="{% url 'accounts:email_change' %}" class="btn btn-sm btn-secondary px-3">Edit</a>
    </div>
    <p class="form-label mb-n1 mt-1">Password</p>
    <div class="d-flex justify-content-between align-items-center">
        <p class="m-0 fs-md">&#x2217;&#x2217;&#x2217;&#x2217;&#x2217;&#x2217;&#x2217;&#x2217;</p>
        <a href="{% url 'accounts:password_change' %}" class="btn btn-sm btn-secondary px-3">Edit</a>
    </div>
</section>
{% endblock form_content %}
