{% extends 'base.html' %}

{% block body %}
{% include 'includes/header.html' %}
<main class="container-md my-3 flex-fill d-flex flex-column align-items-center">
    <div class="w-100 w-md-{% if width %}{{ width }}{% else %}5{% endif %} flex-fill d-flex flex-column">
        {% if use_back %}
        <div class="mb-2 d-flex">
            <a href="{% url 'accounts:profile' %}" class="text-muted d-flex p-2 align-items-center rounded border">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon d-block fs-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <line x1="5" y1="12" x2="11" y2="18"></line>
                    <line x1="5" y1="12" x2="11" y2="6"></line>
                </svg>
            </a>
        </div>
        {% endif %}
        {% if messages %}
        <section>
            <ul class="list-unstyled mb-0">
                {% for message in messages %}
                <li>{% include 'includes/alert.html' with style='success' content=message %}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
        {% include 'includes/alert.html' with style='danger' content=error %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        <div class="border-md rounded p-md-3 flex-grow-1 flex-md-grow-0 d-flex flex-column">
            <form action="{{ form_action }}" method="post" enctype="multipart/form-data" class="flex-fill d-flex flex-column needs-validation" novalidate>
                {% csrf_token %}
                <section>{% block form_content %}{% endblock form_content %}</section>
                <section class="mt-auto mt-md-2">
                    <button type="submit" class="btn btn-sm btn-success fw-medium w-100 w-md-auto px-md-3" on-validation-text="Saving..." disabled>Save</button>
                    {% block form_buttons %}{% endblock form_buttons %}
                </section>
            </form>
        </div>        
    </div>
</main>
</body>
{% endblock body %}
