{% load articles_tags %}

{% if page_obj.has_other_pages %}
<div class="card mt-3">
  <div class="card-body">
    <ul class="pagination">
      <li class="page-item page-prev {% if not page_obj.has_previous %}disabled{% endif %}">
        <a class="page-link" href="?{% if page_obj.has_previous %}{% query_transform page=page_obj.previous_page_number %}{% else %}#{% endif %}" tabindex="-1" aria-disabled="true">
          <div class="page-item-title">Previous</div>
        </a>
      </li>
      <li class="page-item page-next {% if not page_obj.has_next %}disabled{% endif %}">
        <a class="page-link" href="?{% if page_obj.has_next %}{% query_transform page=page_obj.next_page_number %}{% else %}#{% endif %}">
          <div class="page-item-title">Next</div>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endif %}
