{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row d-flex justify-content-center">
  {% block aside %}
  <aside class="col-lg-3 col-12 mb-lg-0 mb-3">
    <div class="card card-body">
      <section class="text-center">
        <img src="{% static 'images/favicon.ico' %}" class="mb-3" style="width: 3rem;">
        <h3>{{ title }} to Curiouse</h3>
        <p>A professional article posting platform for advanced editors.</p>
      </section>
      <section class="mt-2">
        {% include 'users/components/feature.html' with color="orange" icon="tools" title="Rich text editor" text='Curiouse use <a href="https://editorjs.io/" target="_blank">EditorJS</a> to provide comfort in editing articles.' %}
        {% include 'users/components/feature.html' with color="purple" icon="bookmarks" title="Add bookmarks" text="Save interesting articles to bookmarks for further reading." %}
        {% include 'users/components/feature.html' with color="pink" icon="bell-ringing" title="Stay up to date" text="Get notifications about published articles by authors you follow." %}
      </section>
    </div>
  </aside>
  {% endblock aside %}
  <div class="col-xl-4 col-lg-7 col-12">
    {% include "components/notifications.html" %}
    {% if form %}
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
      {% csrf_token %}
    {% endif %}
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="card-title ms-1">{{ title }}</h3>
          <div class="card-actions btn-actions">
            <a href="javascript:history.back()" class="btn-action">
              <i class="icon ti ti-arrow-left"></i>
            </a>
            {% block form_actions %}
            {% endblock form_actions %}
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex flex-column gap-3">
            {% block form_body %}
              {% for field in form %}
                {% include "components/input.html" %}
              {% endfor %}
            {% endblock form_body %}
          </div>
        </div>
        <div class="card-footer bg-transparent">
          {% block form_footer %}
            <button type="submit" class="btn btn-success">
              {{ submit_button_text }}
            </button>
          {% endblock form_footer %}
        </div>
      </div>
    {% if form %}
    </form>
    {% endif %}
  </div>
</div>
{% endblock content %}
