{% extends "users/form.html" %}
{% load component_tags %}

{% block left %}
{% component_block "navbar" header="Profile settings" back=True %}
  {% slot "body" %}
    {% component "navbar-item" icon="id" title="Account" viewname="users:personal" %}
    {% component "navbar-item" icon="fingerprint" title="Security" viewname="users:security" %}
    {% component "navbar-item" icon="bell-ringing" title="Notifications" viewname="users:notifications" %}
  {% endslot "body" %}
{% endcomponent_block "navbar" %}
{% endblock left %}

{% block right %}
<div class="col-xl-3"></div>
{% endblock right %}
