:focus-visible {
    outline: solid $ocean-boat-blue;
    outline-width: 2px;
}

a {
    text-decoration: none !important;
}

.link:hover {
    text-decoration: underline !important;
}

.form-label {
    color: $text-muted;
    font-size: $small-font-size;
    margin-bottom: 0 !important;
}

.badge {
    text-transform: capitalize;
}

.icon {
    width: 1.0666666667em;
    height: 1.0666666667em;
    vertical-align: -0.255em;
}

.dropdown-item {
    transition: background-color 0.2s ease;
}

.dropdown-chevron {
    transition: all 0.2s ease; 
}

.flip {
    transform: rotate(-180deg);
}
