:focus-visible {
    outline: solid $ocean-boat-blue;
    outline-width: 2px;
    outline-offset: 2px;
}

a {
    text-decoration: none !important;
}

.link:hover {
    text-decoration: underline !important;
}

.disabled,
button:disabled {
    pointer-events: auto !important;
    cursor: not-allowed;
}

.badge {
    text-transform: capitalize;

    &:hover {
        box-shadow: $box-shadow-sm;
    }
}

.icon {
    width: 1.0666666667em;
    height: 1.0666666667em;
    vertical-align: -0.255em;
}

.dropdown-chevron {
    transition: all 0.2s ease; 
}

.flip {
    transform: rotate(-180deg);
}
