// :focus-visible {
//     outline: solid $ocean-boat-blue;
//     outline-width: 2px;
// }

a {
    text-decoration: none !important;
}

img {
    border-radius: $border-radius;
}

.link:hover {
    text-decoration: underline !important;
}

.form-label {
    color: $text-muted;
    font-size: $small-font-size;
    margin-bottom: 0 !important;
}

.icon {
    width: 1.0666666667em;
    height: 1.0666666667em;
    vertical-align: -0.255em;
}

.dropdown-item {
    transition: background-color 0.2s ease;
}

.dropdown-chevron {
    transition: all 0.2s ease; 
}

.flip {
    transform: rotate(-180deg);
}

.form-inline-control {
    font-size: $medium-font-size;
    padding: 0;
    border: none;    
    width: 100%;
}

.form-inline-control:focus {
    outline: none;
    border: none;
}

.cover-image {
    width: 210px;
    height: 140px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.bootstrap-select .dropdown-toggle,
.bootstrap-select .dropdown-menu {
    font-size: $medium-font-size;
}

.bootstrap-select .dropdown-toggle {
    border: 1px solid $text-muted;
    outline-width: 1px !important;
}

// ol, ul {
//     padding-left: 1rem !important;

//     li {
//         padding: 0 $list-inline-padding !important;
//     }
// }

blockquote {
    border-left: 2px $border-style $border-color;
    padding-left: 0.625rem;

    cite {
        display: block;
        color: $gray-700;
        margin-top: 0.125rem;
    }
}
