.category-badge {
    text-transform: capitalize;
    color: $gray-700 !important;
    border: $border-width $border-style $border-color;
    transition: background-color 0.2s $transition-base-timing-function;

    &:hover {
        background-color: $gray-100;
    }
}
