{% extends 'base-site.html' %}
{% load static editorjs %}

{% block content %}
<div class="row">
  <div class="col-lg-3 d-lg-block d-none">
    <aside class="sidebar">
      <div class="card">
        <div class="card-stamp">
          <span class="card-stamp-icon bg-primary"><i class="ti ti-album"></i></span>
        </div>
        <div class="card-body">
          <h3 class="card-title">On this page</h3>
          <ul id="tableOfContents" class="list-unstyled d-flex flex-column gap-2"></ul>
        </div>
      </div>
    </aside>
  </div>

  <div class="col-lg-9 col-xl-6">
    <ul class="list-unstyled badges-list">
      {% for category in article.categories.all %}
      <li><span class="badge bg-primary-lt">{{ category }}</span></li>
      {% endfor %}
    </ul>
    
    <section class="d-flex align-items-center mb-3">
      <div class="row align-items-center me-auto">
        <div class="col-auto">
          <img src="{{ article.author.user.get_avatar_url }}" class="avatar avatar-rounded">
        </div>
        <div class="col gx-0">
          <h3 class="mb-1 lh-1">{{ article.author }}</h3>
          <p class="d-block text-muted mb-0">{{ article.created_at|date:"F d, Y" }}</p>
        </div>
      </div>
      {% if request.user == article.author.user %}
      <a href="{% url 'articles:article_update' article.pk article.slug %}" class="btn">Edit</a>
      {% endif %}
    </section>

    <article class="article__body text-break">
      <h1 class="lh-sm">{{ article }}</h1>
      {{ article.body | editorjs }}
    </article>

    {% include 'articles/includes/author-card.html' with author=article.author %}
  </div>
</div>
{% endblock content %}

{% block head %}
<script src="{% static 'articles/js/headers.js' %}"></script>
{% endblock head %}
