{% extends 'base.html' %}
{% load static articles_tags %}

{% block content %}
<div class="w-6">
  <section class="d-xl-none mb-3">
    <form action="{% url 'articles:search' %}" method="GET" class="search-form">
      <div class="input-group">
        <input type="text" name="query" placeholder="Search articles" maxlength="64" class="form-item form-control shadow-none" value="{{ request.GET.query.strip }}">
        <button type="submit" class="form-item rounded-end d-flex align-items-center"><i class="ti ti-search fw-semibold"></i></button>
      </div>
    </form>
  </section>
  <section>
    {% if articles %}
    {% include 'articles/includes/articles-list.html' %}
    {% else %}
    <div class="text-muted">
      <ul class="list-unstyled">
        <li>Make sure all words are spelled correctly.</li>
        <li>Try different keywords.</li>
        <li>Try more general keywords.</li>
      </ul>
    </div>
    {% endif %}
  </section>
</div>
{% endblock content %}
