{% extends 'base.html' %}
{% load editorjs helpers %}

{% block content %}
<div class="row">

  <div class="col-lg-3">
    <aside class="pe-2">
      <nav class="mb-3">
        <h5 class="text-muted fs-sm text-uppercase">Contents</h5>
        <ul id="contents" class="list-unstyled d-flex flex-column gap-2 lh-sm"></ul>
      </nav>
      {% if related_articles %}
      <nav>
        <h5 class="text-muted fs-sm text-uppercase">Related</h5>
        <ul class="list-unstyled d-flex flex-column gap-2 lh-sm fw-medium">
          {% for article in related_articles %}
          <li>
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </aside>
  </div>
  
  <div class="col-lg-6">
    <section class="lh-1 mb-3 d-flex gap-2">
      <a href="{{ article.author.get_absolute_url }}" class="picture-scale-in">
        {% user_avatar user=article.author width="2.25em" %}
      </a>
      <div class="d-flex flex-column justify-content-between">
        <a href="{{ article.author.get_absolute_url }}" class="fw-medium text-body">
          {{ article.author.get_full_name }}
        </a>
        <p class="mb-0 text-muted fs-sm">
          {{ article.created_at|date:"F d, Y" }}
          <span class="circle-divider"></span>
          {{ article.category.name }}
        </p>
      </div>
    </section>

    <article class="article__body text-break">
      {{ article.body | editorjs }}
    </article>

    {% if request.user == article.author or request.user.is_staff %}
    <section class="mt-2 flex-fill d-flex flex-column justify-content-end">
      <ul class="list-group">
        <li class="list-group-item flush-control">
          <hgroup class="flush-control-body">
            <h6 class="flush-control-title">Update this article</h6>
            <p class="flush-control-text">Last modified at {{ article.modified_at|date:"F d, Y" }}.</p>
          </hgroup>
          <a href="{% url 'articles:article_update' article.pk article.slug %}" class="btn btn-outline-secondary">Edit</a>
        </li>
        <li class="list-group-item flush-control">
          <hgroup class="flush-control-body">
            <h6 class="flush-control-title">Delete this article</h6>
            <p class="flush-control-text">Once you delete an article, there is no going back. Please be certain.</p>
          </hgroup>
          <a href="#" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#articleDeleteModal">Delete</a>
          {% url 'articles:article_delete' article.pk article.slug as article_delete_url %}
          {% delete_confirm_modal object_name="article" delete_url=article_delete_url %}
        </li>
      </ul>
    </section>
    {% endif %}
  </div>
  
  <div class="col-lg-3">
    <aside class="ps-2">
      <h5 class="text-muted fs-base">Popular Categories</h5>
      <ul class="list-unstyled">
        {% for category in popular_categories %}
        <li>
          <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        </li>
        {% endfor %}
      </ul>
      <a href="{% url 'articles:home' %}">Browse all</a>
    </aside>
  </div>

</div>
{% endblock content %}

{% block extrascript %}
<script type="module">
  $(document).ready(function() {
    let contents = $("#contents");

    $(".article__body").find('h1, h2, h3, h4').each(function() {
      const text = $(this).text();
      const id = escape(text.toLowerCase());
      $(this).attr('id', id)
      contents.append($("<li>").append($("<a>", {"href": "#" + id}).text(text)));
    });
  });
</script>
{% endblock extrascript %}
