{% extends 'base.html' %}

{% block content %}
{% if articles %}
{% include 'articles/includes/articles-list.html' %}
{% else %}
<h2 class="fs-4">There are no articles yet.</h2>
<a href="{% url 'articles:article_create' %}" class="btn btn-primary">Create an article</a>
{% endif %}
{% endblock content %}

{% block extrastyle %}
<style>
  body > :not(.pace),
  body:before, 
  body:after {
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out
  }
  
  body:not(.pace-done) > :not(.pace), 
  body:not(.pace-done):before, 
  body:not(.pace-done):after {
    opacity: 0
  }
</style>
{% endblock extrastyle %}
