{% load static %}

<header class="navbar navbar-light d-print-none sticky-top">
  <div class="container-xxl">
    <a href="{% url 'articles:article_list' %}" class="navbar-brand" title="Main Masonex page">
      <img src="{% static 'images/logo.svg' %}" class="navbar-brand-image">
    </a>
    <div class="navbar-nav flex-row">
      {% if request.user.is_authenticated %}
      <div class="nav-item me-1">
        <a href="{% url 'articles:article_create' %}" class="btn btn-primary d-sm-block d-none">
          <i class="icon ti ti-text-plus"></i>
          New article
        </a>
      </div>
      {% include 'notifications/dropdown.html' %}
      <div class="nav-item dropdown ms-3">
        <a href="#" class="nav-link" data-bs-toggle="dropdown">
          <img src="{{ request.user.get_avatar_url }}" class="avatar avatar-sm avatar-rounded">
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li>
            <a href="{% url 'articles:author_detail' request.user %}" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-id"></i>My profile
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li class="d-sm-none d-block">
            <a href="{% url 'articles:article_create' %}" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-typography"></i>New article
            </a>
          </li>
          <li>
            <a href="{% url 'articles:bookmarks' %}" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-bookmarks"></i>Bookmarks
            </a>
          </li>
          <li><hr class="dropdown-divider d-sm-none d-block"></li>
          <li>
            <a href="{% url 'admin:index' %}" target="_blank" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-layers-linked"></i>Dashboard
            </a>
          </li>
          <li>
            <a href="{% url 'users:personal' %}" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-settings"></i>Settings
            </a>
          </li>
          <li></li><hr class="dropdown-divider"></li>
          <li>
            <a href="{% url 'users:logout' %}" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-logout"></i>Sign out
            </a>
          </li>
        </ul>
      </div>
      {% else %}
      <div class="nav-item">
        <div class="btn-list">
          <a href="{% url 'users:login' %}" type="button" class="btn">Login</a>
          <a href="{% url 'users:new' %}" type="button" class="btn btn-primary">Sign up</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</header>
