{% load static %}

<header class="navbar navbar-light d-print-none sticky-top">
  <div class="container-xxl">
    <a href="{% url 'articles:article_list' %}" class="navbar-brand">
      <img src="{% static 'images/logo.svg' %}" class="navbar-brand-image">
    </a>
    <div class="navbar-nav flex-row">
      {% if request.user.is_authenticated %}
      <div class="nav-item me-3">
        <div class="btn-list">
          <a href="{% url 'articles:article_create' %}" class="btn btn-primary d-sm-block d-none">
            <i class="icon ti ti-text-plus"></i>
            New article
          </a>
        </div>
      </div>
      <div class="nav-item dropdown text-end">
        <a href="#" class="nav-link" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <img src="{{ request.user.get_avatar_url }}" class="avatar avatar-sm avatar-rounded img-darken">
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li class="d-sm-none d-block">
            <a href="{% url 'articles:article_create' %}" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-typography"></i>New article
            </a>
          </li>
          <li><hr class="dropdown-divider d-sm-none d-block"></li>
          <li>
            <a href="{% url 'admin:index' %}" target="_blank" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-layers-linked"></i>Dashboard
            </a>
          </li>
          <li>
            <a href="{% url 'users:personal' %}?from={{ request.path }}" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-settings"></i>Settings
            </a>
          </li>
          <li></li><hr class="dropdown-divider"></li>
          <li>
            <a href="{% url 'users:logout' %}" class="dropdown-item">
              <i class="icon dropdown-item-icon ti ti-logout"></i>Sign out
            </a>
          </li>
        </ul>
      </div>
      {% else %}
      <div class="nav-item">
        <div class="btn-list">
          <a href="{% url 'users:login' %}?from={{ request.path }}" type="button" class="btn">Login</a>
          <a href="{% url 'users:new' %}?from={{ request.path }}" type="button" class="btn btn-primary">Sign up</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</header>
