{% load static helpers %}

<header class="sticky-top py-2 bg-white">
  <div class="container-xxl">
    <div class="row d-flex align-items-center">
      <div class="col-xl-3 col-4">
        <a href="{% url 'index' %}" class="scale-in d-block w-auto">
          <img src="{% static 'images/logo.svg' %}" alt="masonex" style="height: 2.325em;">
        </a>
      </div>
      <div class="col-xl-6 d-none d-xl-block">
        <form action="{% url 'articles:search' %}" method="GET">
          <div class="input-group">
            <span class="input-group-text">
              <i class="ti ti-search fs-base text-muted"></i>
            </span>
            <input type="text" name="query" placeholder="Search articles" maxlength="64" class="form-control" value="{{ request.GET.query.strip }}">
          </div>
        </form>
      </div>
      <div class="col-xl-3 col-8 d-flex justify-content-end align-items-center gap-2">
        {% if request.user.is_authenticated %}
        <a class="btn btn-primary d-md-block d-none" href="{% url 'articles:article_create' %}">New Article</a>
        <div class="dropdown text-end">
          <a href="#" type="button" class="dropdown-toggle btn btn-bordered" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            {% user_avatar width="1.475em" %}
            <i class="ti ti-chevron-down dropdown-chevron ms-2"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow-sm mt-1">
              <li class="py-1">
                <a class="dropdown-item py-2 pe-1 rounded border" href="{% url 'users:profile' %}">
                  <div class="d-flex align-items-center fs-sm gap-2">
                    {% user_avatar width="2.75em" %}
                    <div>
                      <p class="mb-0 fw-medium">{{ request.user.get_full_name }}</p>
                      <p class="mb-0 text-muted">Customize profile</p>
                    </div>
                    <i class="ti ti-chevron-right align-self-center text-muted"></i>
                  </div>
                </a>
              </li>
              <li class="p-0"><hr class="dropdown-divider"></li>
              <li class="d-md-none">
                <a href="{% url 'articles:article_create' %}" class="dropdown-item">
                  <i class="ti ti-text-plus"></i>New article
                </a>
              </li>
              <li>
                <a href="{% url 'articles:user' request.user.username %}" class="dropdown-item">
                  <i class="ti ti-id-badge-2"></i>My profile
                </a>
              </li>
              <li class="d-xl-none">
                <a href="{% url 'articles:search' %}" class="dropdown-item">
                  <i class="ti ti-search"></i>Search
                </a>
              </li>
              {% if request.user.is_staff %}
              <li>
                <a href="{% url 'admin:index' %}" target="blank" class="dropdown-item">
                  <i class="ti ti-terminal-2"></i>Administration
                </a>
              </li>
              {% endif %}
              <li class="p-0"><hr class="dropdown-divider"></li>
              <li>
                <a href="{% url 'users:logout' %}" class="dropdown-item">
                  <i class="ti ti-logout"></i>Sign out
                </a>
              </li>
          </ul>
          {% else %}
          <a href="{% url 'users:login' %}" type="button" class="btn btn-outline-primary">Login</a>
          <a href="{% url 'users:new' %}" type="button" class="btn btn-primary">Sign up</a>
          {% endif %}
        </div>
      </div>
    </div>    
  </div>
</header>
