{% load helpers %}

{% if form.non_field_errors or form.errors.items %}
<ul class="list-unstyled mb-0">
  {% for error in form.non_field_errors %}
  <li>{% alert style='danger' content=error %}</li>
  {% empty %}
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
      <li>{% alert style='danger' content=error %}</li>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</ul>
{% endif %}
{% if messages %}
<ul class="list-unstyled mb-0">
  {% for message in messages %}
  <li>{% alert style=message.tags content=message %}</li>
  {% endfor %}
</ul>
{% endif %}
