.ce-scroll-locked header {
  z-index: 0 !important;
}

.dropdown {
  li {
    padding: 0 $dropdown-li-padding-x;
  }
}

.dropdown-menu {
  i {
    font-size: $dropdown-icon-font-size !important;
  }
}

.dropdown-item {
  border-radius: $border-radius;
  display: flex !important;
  align-items: center;
  gap: $dropdown-li-padding-x;
}

.bootstrap-select {
  .dropdown-toggle {
    &:focus {
      outline: none !important;
    }
  }

  .bs-searchbox {
    margin-bottom: $spacer * 0.25;
  }

  .no-results {
    border-radius: 0;
    background-color: $white;
    margin: 0;
    padding: $dropdown-item-padding-y calc(#{$dropdown-li-padding-x} + #{$dropdown-item-padding-x});
  }
}
