@import 'bootstrap/scss/mixins';

.codex-editor,
.post__article {
    img {
        max-width: 456px;
        margin-bottom: 0.625rem;
    }
}

.post__thumbnail {
    width: 512px;
}

@include media-breakpoint-down(sm) {
    .post__thumbnail {
        width: 100%;
    }
}
