{% extends 'base.html' %}
{% load helpers %}

{% block content %}
<div class="flex-fill d-flex flex-column align-items-center">
  <div class="accounts-form flex-fill d-flex flex-column">
    {% block form_before %}
    {% endblock form_before %}

    {% block messages %}
    {% if form.non_field_errors or form.errors.items %}
    <ul class="list-unstyled mb-0">
      {% for error in form.non_field_errors %}
      <li>{% alert style='danger' content=error %}</li>
      {% empty %}
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
          <li>{% alert style='danger' content=error %}</li>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}
    {% endblock messages %}

    <form method="post" enctype='multipart/form-data' class="p-md-3 border-md rounded flex-grow-1 flex-md-grow-0 d-flex flex-column needs-validation" novalidate>
      {% csrf_token %}

      {% block form_content %}
      <fieldset>
        
        {% block form_legend %}
        <legend class="mb-1 fs-4">{{ title }}</legend>
        {% endblock form_legend %}

        {% for field in form %}
        <div class="mb-2">
          <label for="{{ field.id_for_label }}" class="mb-1 form-label">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
          <p class="mb-0 mt-1 fs-sm lh-sm">{{ field.help_text }}</p>
          {% endif %}
        </div>
        {% endfor %}

      </fieldset>
      {% endblock form_content %}

      <div class="mt-md-1 mt-auto">
        <button type="submit" class="w-100 w-md-auto btn btn-success mt-1" disabled on-validation-text="Verifying...">
            {% if submit_button_text %}{{ submit_button_text }}{% else %}{{ title }}{% endif %}
        </button>
      </div>

    </form>
  </div>
</div>
{% endblock content %}
