$header-height: 3.4375em;

// Prefix for :root CSS variables

$variable-prefix: "msx-";

// Colors

// scss-docs-start color-variables
$primary:     #3f6ee3;
$secondary:   #606b71;
$success:     #198754;
$danger:      #d23b4b;
$light:       #f8f9fa;
$dark:        #2e2e30;

$body-color:    $dark;
$text-muted:    $secondary;

$primary-fg:    tint-color($primary, 92.5%);
// scss-docs-end color-variables


// Spacing

// scss-docs-start spacer-variables
$spacer: 1rem;
// scss-docs-end spacer-variables


// Typography

// scss-docs-start font-variables
$font-family-sans-serif:    "Rubik", sans-serif;
$font-family-monospace:     "JetBrains Mono", monospace;

$font-size-base:      1rem;
$font-size-sm:        $font-size-base * .875;
$font-size-lg:        $font-size-base * 1.125;

$icon-font-size: $font-size-lg;

$custom-font-sizes: (
  "base":       $font-size-base,
  "sm":         $font-size-sm,
  "lg":         $font-size-lg,
);

$font-weight-normal:  400;
$font-weight-medium:  500;

$line-height-base:    1.45;
$line-height-sm:      1.25;
$line-height-lg:      1.65;

$h1-font-size:        $font-size-base * 2.2;
$h2-font-size:        $font-size-base * 2;
$h3-font-size:        $font-size-base * 1.8;
$h4-font-size:        $font-size-base * 1.6;
$h5-font-size:        $font-size-base * 1.4;
$h6-font-size:        $font-size-base * 1.2;
// scss-docs-end font-variables

// scss-docs-start type-variables
$list-inline-padding:  0;
$mark-padding:         0;

$legend-font-size:     $h4-font-size;
$legend-font-weight:   $font-weight-medium;
// scss-docs-end type-variables


// Bootstrap options

// scss-docs-start option-variables
$enable-caret:             false;
// scss-docs-end option-variables


// Links

// scss-docs-start link-variables
$link-color:        #3d8bfd;
$link-hover-color:  #0a58ca;
$link-decoration:     none;
$link-transition:     color 0.1s ease-out, background-color 0.1s ease-out;
// scss-docs-end link-variables


// Paragraphs

// scss-docs-start paragraph-variables
$paragraph-margin-bottom: $spacer;
// scss-docs-end paragraph-variables


// Badges

// scss-docs-start badge-variables
$badge-font-weight: $font-weight-medium;
// scss-docs-end badge-variables


// Alerts

// scss-docs-start alert-variables
$alert-bg-scale: -80%;
// scss-docs-end alert-variables


// Forms

$input-line-height:          $line-height-sm;
$input-btn-focus-width:      $spacer * 0.15;

$btn-padding-x:              $spacer;
$btn-padding-y:              $btn-padding-x * 0.535;
$btn-line-height:            1;

$btn-icon-padding-x:              $spacer * 0.5;
$btn-icon-padding-y:              $btn-icon-padding-x;

// scss-docs-start form-label-variables
$form-label-margin-bottom:   $spacer * 0.125;
$form-label-font-size:       $font-size-sm;
$form-label-font-weight:     $font-weight-normal;
$form-label-color:           $text-muted;
// scss-docs-end form-label-variables

// scss-docs-start form-feedback-variables
$form-feedback-icon-valid-color: $success;
$form-feedback-icon-invalid-color: $danger;

$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' stroke-width='2' stroke='#{$form-feedback-icon-valid-color}' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><circle cx='12' cy='12' r='9'></circle><path d='M9 12l2 2l4 -4'></path></svg>");
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' stroke-width='2' stroke='#{$form-feedback-icon-invalid-color}' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><circle cx='12' cy='12' r='9'></circle><line x1='12' y1='8' x2='12' y2='12'></line><line x1='12' y1='16' x2='12.01' y2='16'></line></svg>");
// scss-docs-end form-feedback-variables


// Dropdown

// scss-docs-start dropdown-variables
$dropdown-min-width:             auto;
$dropdown-spacer:                $spacer * 0.125;
$dropdown-padding-x:             $dropdown-spacer * 4;
$dropdown-item-padding-x:        $dropdown-padding-x;
$dropdown-item-padding-y:        $dropdown-spacer * 3;

$dropdown-link-color:            $body-color;
$dropdown-link-hover-color:      $dropdown-link-color;
$dropdown-link-hover-bg:         $primary-fg;

$dropdown-link-active-color:     $primary;
$dropdown-link-active-bg:        $dropdown-link-hover-bg;
$dropdown-box-shadow:            var(--#{$variable-prefix}box-shadow-sm);
// scss-docs-end dropdown-variables

$card-subtitle-color: $text-muted;
