.flush-control {
  display: flex !important;
  align-items: center;

  .flush-control-body {
    flex: 1;
    margin-right: map-get($spacers, 2);

    .flush-control-title {
      font-size: $font-size-lg;
      line-height: $line-height-base;
      margin-bottom: map-get($spacers, 1);
    }

    .flush-control-text {
      line-height: 1;
      margin-bottom: 0;
    }
  }
}
