{% extends 'base.html' %}
{% load static helpers notifications_tags %}

{% block title %}
Notifications
{% endblock title %}

{% block content %}
<div class="mb-3">
  <div class="btn-group">
    <a href="{% url 'notifications:all' %}" class="btn {% get_active_class 'notifications:all' False %}">All</a>
    <a href="{% url 'notifications:unread' %}" class="btn {% get_active_class 'notifications:unread' False %}">Unread</a>
  </div> 
  {% notifications_unread as unread_notifications_count %} 
  {% if unread_notifications_count > 1 %}
    <button type="button" 
            hx-get="{% url 'notifications:mark_all_as_read' %}" 
            hx-target="body"
            class="btn float-end">
      <i class="icon ti ti-list-check"></i>
      Mark all as read
    </button>
  {% endif %}
</div>

{% if notifications %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Notifications</h3>
  </div>
  <ul class="list-unstyled list-group list-group-flush list-group-hoverable">
    {% for notice in notifications %}
      {% include 'notifications/notice.html' %}
    {% endfor %}
  </ul>
</div>
{% else %}
<div class="container-slim py-4 text-center">
  <img src="{% static 'images/feeling_of_joy.svg' %}" class="mb-4">
  <h2>No notifications</h2>
  <p class="text-muted">You do not have any notifications here.</p>
</div>
{% endif %}
{% include 'components/pagination.html' %}
{% endblock content %}
