{% extends "base.html" %}
{% load %}

{% block content %}
<div class="row d-flex justify-content-center">
  {% block aside %}
  {% endblock aside %}
  <div class="col-xl-4 col-lg-7 col-12">
    {% include "components/notifications.html" %}
    <form method="post" enctype="multipart/form-data" class="card needs-validation" novalidate>
      {% csrf_token %}
      <div class="card-header bg-transparent">
        <h1 class="fs-5 mb-0">{{ title }}</h1>
      </div>
      <div class="card-body d-flex flex-column gap-3">
        {% block form_body %}
          {% for field in form %}
            {% include "components/input.html" %}
          {% endfor %}
        {% endblock form_body %}
      </div>
      <div class="card-footer bg-transparent">
        <button type="submit" disabled class="btn btn-success">Submit</button>
      </div>
    </form>    
  </div>
</div>
{% endblock content %}
