{% extends "users/settings.html" %}

{% block form_body %}
<div class="row align-items-center">
  <div class="col-auto">
    <label for="{{ form.avatar.id_for_label }}" id="avatar" class="d-block cursor-pointer"> 
      <img src="{{ user.get_avatar_url }}" class="avatar avatar-md">
    </label>
    {{ form.avatar }}
  </div>
  <div class="col gx-0">
    <h3 class="mb-1">{{ user }}</h3>
    <div class="text-muted">Provide some basic information to make using Masonex more convenient.</div>
  </div>
</div>
<div class="row row-cols-2 row-gap-2">
  {% include "components/input.html" with field=form.first_name %}
  {% include "components/input.html" with field=form.last_name %}
  {% include "components/input.html" with field=form.username %}
</div>
{% include "components/input.html" with field=form.bio %}
{% endblock form_body %}
