@import "../../../bootstrap/scss/functions";
@import "../../../bootstrap/scss/variables";
@import "../../../bootstrap/scss/maps";
@import "../../../bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities, (
        "cursor": (
            property: cursor,
            class: cursor,
            values: auto pointer grab,
        ),
        "width": map-merge(
            map-get($utilities, "width"),
            ( responsive: true ),
        ),
        "height": map-merge(
            map-get($utilities, "height"),
            ( responsive: true ),
        ),
        "border": map-merge(
            map-get($utilities, "border"),
            ( responsive: true ),
        ),
        "border-top": map-merge(
            map-get($utilities, "border-top"),
            ( responsive: true ),
        ),
        "border-end": map-merge(
            map-get($utilities, "border-end"),
            ( responsive: true ),
        ),
        "border-bottom": map-merge(
            map-get($utilities, "border-bottom"),
            ( responsive: true ),
        ),
        "border-start": map-merge(
            map-get($utilities, "border-start"),
            ( responsive: true ),
        ),
    )
);

.dropdown-toggle-arrow-hide::after {
    content: none !important;
}

.circle-divider:after {
    content: "\00B7";
}

.border-dashed {
    background-image: repeating-linear-gradient(0deg, #acb0b9, #acb0b9 9px, transparent 9px, transparent 12px, #acb0b9 12px), repeating-linear-gradient(90deg, #acb0b9, #acb0b9 9px, transparent 9px, transparent 12px, #acb0b9 12px), repeating-linear-gradient(180deg, #acb0b9, #acb0b9 9px, transparent 9px, transparent 12px, #acb0b9 12px), repeating-linear-gradient(270deg, #acb0b9, #acb0b9 9px, transparent 9px, transparent 12px, #acb0b9 12px);
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}
