.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-muted {
  --#{$prefix}btn-color: #{$gray-700};
  --#{$prefix}btn-border-color: #{$border-color};
  --#{$prefix}btn-hover-color: #{$gray-700};
  --#{$prefix}btn-hover-border-color: #{$gray-500};
  --#{$prefix}btn-active-color: #{$component-active-bg};
  --#{$prefix}btn-active-bg: #{$primary-fg};
  --#{$prefix}btn-active-border-color: #{$component-active-bg};
}
