.flush-control {
  display: flex !important;
  align-items: center;

  .flush-control-body {
    flex: 1;
    margin-right: map-get($spacers, 3);

    .flush-control-title {
      font-size: $font-size-base;
      line-height: $line-height-base;
      margin-bottom: 0;
    }

    .flush-control-text {
      font-style: $font-size-sm;
      line-height: $line-height-sm;
      margin-bottom: 0;
    }
  }
}
