{% extends 'feed/base_site.html' %}

{% block content %}
<section class="border-bottom text-center mb-4 pb-5">
    {% include 'feed/includes/user_avatar.html' with user=author width='8rem' class='mb-3' %}
    <h1 class="fs-5 mb-1">{{ author.get_full_name }}</h1>
    {% if author.bio %}
    <p class="lh-sm mb-0">{{ author.bio }}</p>
    {% endif %}
</section>
<section>
    <h2 class="text-center fs-6 mb-3">By this author</h2>
    {% include 'feed/includes/post_listing.html' %}
</section>
{% endblock content %}
