{% extends 'feed/base.html' %}

{% block body %}
{% include 'feed/snippets/header.html' %}
<main class="container-xxl flex-fill d-flex flex-column my-md-4 my-2">
    {% block content %}
    {% endblock content %}
    <button id="scroll-to-top" class="position-fixed rounded-circle shadow p-2" tabindex="-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <polyline points="6 15 12 9 18 15"></polyline>
         </svg>
    </button>
</main>
{% include 'feed/snippets/footer.html' %}
{% endblock body %}
