{% extends 'feed/base.html' %}

{% block body %}
{% include 'feed/includes/header.html' %}
<main class="container-xxl my-3 my-md-4" style="max-width: 22.5em;">
    <p class="mb-2">
        <a href="{% url 'profile' %}" class="text-muted d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon d-block fs-5 me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <line x1="5" y1="12" x2="11" y2="18"></line>
                <line x1="5" y1="12" x2="11" y2="6"></line>
            </svg>
            Back to profile
        </a>
    </p>
    <section>
        {% for field in form %}
        {% if field.errors %}
        <div class="mt-2">
            {% for error in field.errors %}
            {% include 'feed/includes/alert.html' with style='danger' content=error %}
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="border rounded p-3">
            <form action="{% url 'email_change' %}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                <fieldset class="mb-2">
                    <legend class="mb-1 fs-5">{{ title }}</legend>
                    {% for field in form %}
                    <div class="mb-2">
                        <label for="{{ field.id_for_label }}" class="form-label mb-0 fs-sm text-muted">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </fieldset>
                <button type="submit" class="w-100 w-sm-auto btn btn-sm btn-success px-3 fw-medium" on-validation-text="Changing..." disabled>Confirm</button>
            </form>
        </div>        
    </section>    
</main>
{% endblock body %}
