{% extends 'feed/base.html' %}

{% block body %}
{% include 'feed/includes/header.html' %}
<main class="container-xxl mx-auto my-3 my-md-4" style="max-width: 60em;">
    <form action="{% url 'post_create' %}" method="post" enctype="multipart/form-data" class="create-post-form needs-validation" novalidate>
        {% csrf_token %}
        {{ form.media }}
        <section class="mb-3">
            <section class="mb-3">
                <h2 class="text-muted fs-5 mb-1">Content</h2>
                {{ form.body }}
            </section>
            <section class="row mb-3">
                <section class="col-12 col-lg-6">
                    <fieldset>
                        <legend class="text-muted fs-5 mb-0 fw-medium">Cover</legend>
                        <div class="p-4 bg-light rounded shadow-sm">
                            <label for="{{ form.thumbnail.id_for_label }}" class="mb-3">
                                <span id="thumbnail">
                                    <figure class="text-center mb-0 px-4 py-3 cursor-pointer border-dashed rounded-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted fs-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M15 8h.01"></path>
                                            <path d="M12 20h-5a3 3 0 0 1 -3 -3v-10a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v5"></path>
                                            <path d="M4 15l4 -4c.928 -.893 2.072 -.893 3 0l4 4"></path>
                                            <path d="M14 14l1 -1c.617 -.593 1.328 -.793 2.009 -.598"></path>
                                            <path d="M16 19h6"></path>
                                            <path d="M19 16v6"></path>
                                        </svg>
                                        <figcaption class="mb-0 lh-sm fs-md mt-2">Upload an image</figcaption>
                                        <small class="text-muted lh-sm fs-sm">JPEG, size 1080 x 760</small>
                                    </figure>
                                </span>
                                {{ form.thumbnail }}
                            </label>
                            {{ form.title }}
                            {{ form.description }}
                        </div>
                    </fieldset>
                </section>
                <section class="col-12 col-lg-6 mt-3 mt-md-0">
                    <fieldset>
                        <legend class="text-muted fs-5 mb-0 fw-medium">SEO</legend>
                        <div class="p-4 bg-light rounded shadow-sm">
                            {{ form.category }}
                            <hr>
                            <ol class="ps-3 text-muted">
                                <li>
                                    <p class="mb-0">You must fully comply with our <a href="#" class="link">Terms of Service</a>.</p>
                                </li>
                                <li>
                                    <p class="mb-0">Be polite and don't insult other members of the community.</p>
                                </li>
                            </ol>
                        </div>
                    </fieldset>
                </section>
            </section>
        </section>
        <footer class="d-flex gap-1">
            <button type="submit" class="btn btn-sm btn-success w-50 w-md-auto px-md-3" on-validation-text="Posting...">Post</button>
            <button type="button" class="btn btn-sm btn-secondary w-50 w-md-auto px-md-3">Save as Draft</button>
        </footer>
    </form>
</main>
{% endblock body %}
