{% extends 'feed/base_site.html' %}
{% load hitcount_tags editorjs %}

{% block content %}
<section class="mb-3">
    <div class="d-block mb-2">
        <a href="{{ post.category.get_absolute_url }}" class="badge category-badge">{{ post.category.name }}</a>
    </div>
    <div class="d-flex align-items-center gap-1 fs-sm">
        <p class="mb-0">By <a href="{{ post.author.get_absolute_url }}" class="link">{{ post.author.get_full_name }}</a></p>
        <span class="circle-divider"></span>
        <time datetime="{{ post.created_at|date:"Y-m-d" }}">{{ post.created_at|date:"F, d, Y" }}</time>
        <span class="circle-divider"></span>
        <p class="mb-0 text-muted">{% get_hit_count for post %} views</p>
    </div>
</section>
<article class="post__article text-break col-12 col-lg-8">
    {{ post.body | editorjs }}
</article>
{% if request.user == post.author or request.user.is_staff %}
<div class="d-flex gap-2">
    <a href="{% url 'post_update' post.pk post.slug %}" class="btn btn-sm btn-outline-secondary">Edit</a>
    <a href="{% url 'post_delete' post.pk post.slug %}" class="btn btn-sm btn-outline-danger">Delete</a>
</div>
{% endif %}
{% endblock content %}
