{% extends 'feed/profile_change_form.html' %}
{% load static feed_tags %}

{% block form_content %}
<div class="d-flex mb-2">
    <section class="me-2">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle dropdown-toggle-arrow-hide" id="avatar" data-bs-toggle="dropdown" aria-expanded="false">
                {% include 'feed/includes/user_avatar.html' with width='3.4em' class='d-block' %}
            </a>
            <ul class="dropdown-menu border-0 shadow fs-md">
                <li>
                    <label for="{{ form.avatar.id_for_label }}" class="dropdown-item cursor-pointer">
                        Upload photo
                        {{ form.avatar }}
                    </label>
                </li>
                {% if user.avatar %}
                <li>
                    <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#avatarDeleteModal">
                        Delete photo
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="modal fade" id="avatarDeleteModal" tabindex="-1" aria-labelledby="avatarDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-6" id="avatarDeleteModalLabel">{{ form.remove_photo.label }}</h1>
                        <button type="button" class="btn-close fs-md" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-0">
                            Do you really want to delete profile photo?
                            <span class="text-muted">{{ form.remove_photo.help_text }}</span>
                        </p>                                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary"
                            data-bs-dismiss="modal">Cancel</button>
                        <label class="btn btn-sm btn-danger" for="{{ form.remove_photo.id_for_label }}" data-bs-dismiss="modal">Delete</label>
                        {{ form.remove_photo }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hgroup>
        <h2 class="mb-1 fs-md">{{ user.get_full_name }}</h2>
        <p class="mb-0 text-muted lh-1"><small>Provide basic information to make using Masonex more convenient</small></p>
    </hgroup>
</div>
<section class="mb-3">
    <fieldset>
        <fieldset class="row mb-1">
            <div class="col-6">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>
            <div class="col-6">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
                {{ form.last_name }}
            </div>
        </fieldset>
        <div>
            <label for="{{ form.bio.id_for_label }}" class="form-label">{{ form.bio.label }}</label>
            {{ form.bio }}
        </div>
    </fieldset>                
</section>
<section class="mb-3 border rounded p-2">
    <p class="form-label mb-n1">Email</p>
    <div class="d-flex justify-content-between align-items-center">
        <p class="m-0 fs-md">{{ request.user.email|truncatemail:2 }}</p>
        <a href="{% url 'email_change' %}" class="btn btn-sm btn-secondary px-3">Edit</a>
    </div>
    <p class="form-label mb-n1 mt-1">Password</p>
    <div class="d-flex justify-content-between align-items-center">
        <p class="m-0 fs-md">∗∗∗∗∗∗∗∗</p>
        <a href="{% url 'password_change' %}" class="btn btn-sm btn-secondary px-3">Edit</a>
    </div>
</section>
{% endblock form_content %}
