{% extends 'feed/base_site.html' %}
{% load static %}
{% load feed_tags %}

{% block content %}
<h1 class="mb-0 mb-lg-2 pb-2 border-bottom fs-3 fw-normal">Search results {% if request.GET.query %}for <b>{{ request.GET.query }}</b>{% endif %}</h1>
<div class="row flex-fill">
    <section id="search-results" class="col-12 col-lg-8 flex-fill d-flex flex-column">
        <ul class="list-unstyled">
            {% if results %}
            {% for result in results %}
            <li class="pb-4 mt-4 border-bottom">
                <article>
                    <div class="d-flex align-items-center gap-2 mb-2">
                        <figure class="search-result__author__avatar">
                            {% if result.author.photo %}
                            <img src="{{ result.author.photo.url }}" class="rounded-circle" width="24" alt="Post author avatar">
                            {% else %}
                            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="24">
                            {% endif %}
                        </figure>
                        <div class="search-result__summary">
                            <a href="#" class="search-result__author__name">
                                {{ result.author.get_full_name }}
                            </a>
                            <span class="circle-divider"></span>
                            <span class="search-result__create-date">
                                {{ result.create_date|date:"F, d, Y" }}
                            </span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="flex-fill flex-wrap">
                            <span class="component-article-listing">
                                <a href="{{ result.get_absolute_url }}" class="mb-1 article-listing__heading search-result__heading">{{ result.title|truncatechars:48 }}</a>
                                <p class="search-result__description text-break">{{ result.description|truncatechars:196 }}</p>
                            </span>
                            <div class="search-result__tags">
                                <ul class="list-unstyled d-flex gap-1">
                                    <li>
                                        <a href="{{ result.category.get_absolute_url }}">
                                            <span class="badge rounded-pill text-bg-bright-gray fw-medium border">{{ result.category.name }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <span class="ms-4 ms-md-5 d-flex align-items-center justify-content-end">
                            <picture class="search-result__image">
                                <img class="rounded" src="{{ result.photo.url }}" alt="Cover photo">
                            </picture>
                        </span>
                    </div>
                </article>
            </li>
            {% endfor %}
            {% else %}
            <div class="d-flex flex-column justify-content-center align-items-start ms-0 ms-md-5">
                <img src="{% static 'feed/dist/images/not_found.svg' %}" style="max-width: 350px;" class="mt-3" alt="404">
                <div class="mt-5 text-muted">
                    <p class="mb-1">Make sure all words are spelled correctly.</p>
                    <p class="mb-1">Try different keywords.</p>
                    <p class="mb-1">Try more general keywords.</p>
                </div>
            </div>
            {% endif %}
        </ul>
        {% if page_obj.has_other_pages %}
        <nav class="mt-2 flex-fill d-flex flex-column justify-content-end align-self-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% if request.get_full_path == request.path %}?{% else %}{{ request.get_full_path }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Previous"><span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="15 6 9 12 15 18"></polyline>
                     </svg>
                </span></a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="15 6 9 12 15 18"></polyline>
                     </svg>
                </span></li>
                {% endif %}
                <li class="page-item active"><span class="page-link">Page {{ page_obj.number }} of {{ paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                href="{% if request.get_full_path == request.path %}?{% else %}{{ request.get_full_path }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Next"><span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="9 6 15 12 9 18"></polyline>
                     </svg>
                </span></a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="9 6 15 12 9 18"></polyline>
                     </svg>
                </span></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </section>
    <aside class="col-12 col-lg-4 border-start-lg order-first order-lg-last mb-3 mb-lg-0">
        <div class="p-0 py-3 p-lg-2 p-xl-3 border-bottom border-bottom-lg-0 sticky-lg-top" style="top: 5rem;">
            <form action="{% url 'search' %}" method="GET" class="mb-3 search-form">
                <div class="input-group input-group-sm w-100">
                    <input type="text" class="form-control" placeholder="Search" name="{{ form.query.name }}" value="{{ request.GET.query }}">
                    <button type="submit" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="10" cy="10" r="7"></circle>
                            <line x1="21" y1="21" x2="15" y2="15"></line>
                        </svg>
                    </button>
                </div>
                <span class="d-block mt-2">
                    <select class="form-select form-select-sm" name="category" onchange="this.form.submit()">
                        {% for pk, label in form.categories.field.choices %}
                        <option value="{{ pk }}" {% if pk|slugify in request.GET.category %} selected {% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </span>
                <fieldset class="d-flex flex-wrap gap-2 mt-2">
                    <legend class="border-bottom fs-5">Published</legend>
                    {% for value, label in form.published.field.choices %}
                    <input type='radio' class="btn-check" {% if request.GET.published == value %} checked {% endif %}
                           name='published' value='{{ value }}' id='published_{{ value }}'>
                    <label class="btn btn-sm btn-outline-secondary" for="published_{{ value }}">{{ label }}</label>
                    {% endfor %}
                </fieldset>
                <fieldset class="d-flex flex-wrap gap-2 mt-2">
                    <legend class="border-bottom fs-5">Order by</legend>
                    {% for value, label in form.order_by.field.choices %}
                    <input type='radio' class="btn-check" {% if request.GET.order_by == value %} checked {% endif %}
                           name='order_by' value='{{ value }}' id='order_by_{{ value }}'>
                    <label class="btn btn-sm btn-outline-secondary" for="order_by_{{ value }}">{{ label }}</label>
                    {% endfor %}
                </fieldset>
            </form>
        </div>
    </aside>
</div>
{% endblock content %}
