{% extends 'feed/base_site.html' %}

{% block content %}
<section class="border-bottom text-center mb-4 pb-5">
    {% include 'feed/includes/user_avatar.html' with user=user width=150 class='mb-3' %}
    <h1 class="fs-5 mb-1">{{ user.get_full_name }}</h1>
    <p class="lh-sm mb-0">{{ user.bio }}</p>
</section>
<section class="col-lg-8 col-12 mx-auto">
    <h2 class="text-center fs-6 mb-2">By this author</h2>
    {% include 'feed/includes/post_listing.html' with posts=posts %}
</section>
{% endblock content %}
