.search-form {
    .form-control, .btn {
        border: $border-width $border-style $border-color !important;
        background-color: $gray-100;
    }

    .form-control {
        color: $gray-700;
        border-right: none !important;
        transition: border-color .1s ease-out, background-color .1s ease-out;
    }

    .btn {
        color: $gray-500;
        border-left: none !important;

        i {
            border-radius: $border-radius;
            margin-right: $spacer * -0.25;
            padding: $spacer * 0.25;
            transition: background-color .1s ease-out, scale .1s ease-out;    
        }

        &:hover {
            i {
                background-color: $gray-200 !important;
            }            
        }

        &:active {
            i {
                scale: 0.95;
            }
        }

        &:hover, &:active {
            scale: 1;
            background-color: $gray-100 !important;
        }
    }
    
    &:hover {
        .form-control, .btn {
            color: $arsenic;
            border-color: $gray-500 !important;
        }
    }

    &.active {
        .form-control, .btn {
            color: $black;
            border-color: $arsenic !important;
            background-color: $white;
            box-shadow: none !important;
        }
    }
}

.dropdown-chevron {
    transition: all 0.1s ease-out; 
}

.flip {
    transform: rotate(-180deg);
}

.user-menu-dropdown-toggle:hover {
    border-color: $gray-500 !important;
}
