[id] {
  scroll-margin: 3.75rem;
}

@media (min-width: 992px) {
  .sidebar {
    --body-margin: var(--tblr-content-padding) * 2;
    --header-height: 3.5rem;
    --sidebar-margin: var(--body-margin) - var(--header-height);
    position: sticky;
    z-index: 1;
    top: var(--scroll-margin);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - var(--sidebar-margin));
    flex: 0 0 auto;
    width: 25%;
  }
}

.truncate {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  --max-lines: 2;
}

.htmx-indicator:not(.htmx-request) {
  display: none !important;
}

.dropdown-menu-arrow.dropdown-menu-end:before {
  right: 0.5rem !important;
  left: auto;
}
