#thumbnail img,
.image-upload {
  width: 212px;
  height: 132px;
  object-fit: cover;
}

.image-upload {
  border: 2px dashed $border-color;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-editorjs-textarea] {
  display: none !important;
}

[data-editorjs-holder] {
  width: 100% !important;
  max-width: none !important;
  border: $border-width $border-style $border-color !important;
  background-color: $light !important;
}

.codex-editor {
  .cdx-block {
    padding: 0 !important;
  }

  .ce-block a {
    text-decoration: none;
  }

  .ce-header {
    color: inherit !important;
    font-weight: $headings-font-weight !important;
    line-height: $headings-line-height !important;
    margin-bottom: $headings-margin-bottom !important;
    padding: 0 !important;
  }

  h1.ce-header {
    font-size: $h1-font-size !important;
  }

  h2.ce-header {
    font-size: $h2-font-size !important;
  }

  h3.ce-header {
    font-size: $h3-font-size !important;
  }

  h4.ce-header {
    font-size: $h4-font-size !important;
  }

  .ce-paragraph {
    line-height: $line-height-base !important;
    margin-bottom: $paragraph-margin-bottom;
  }

  .cdx-list {
    padding-left: 1rem !important;

    .cdx-list__item {
      padding: 0 $list-inline-padding !important;
    }
  }

  .cdx-button {
    color: $text-muted;
    font-size: $small-font-size;
    border-radius: $border-radius;
    box-shadow: none;
    transition: background-color 0.1s ease-out, scale 0.1s ease-out;

    &:hover {
      background-color: $light;
    }

    &:active {
      scale: 0.95;
    }
  }

  .image-tool__image {
    border-radius: 0;
    margin-bottom: 0;
  }

  .image-tool__image-picture {
    border-radius: $border-radius;
    width: 100%;
  }

  .image-tool .cdx-button {
    margin: $spacer * 0.5 0;
  }

  .image-tool__caption,
  [data-item-name="withBorder"],
  [data-item-name="withBackground"],
  [data-item-name="stretched"] {
    display: none !important;
  }
}
