#thumbnail img {
    width: 212px;
    height: 132px;
    object-fit: cover;
}

[data-editorjs-textarea] {
    display: none !important;
}

[data-editorjs-holder] {
    width: 100% !important;
    max-width: none !important;
    border: $border-width $border-style $border-color !important;
    background-color: $light !important;
}

.codex-editor {
    .cdx-block {
        padding: 0 !important;
    }

    .ce-header {
        font-weight: $headings-font-weight !important;
        line-height: $headings-line-height !important;
        margin-bottom: $headings-margin-bottom !important;
        padding: 0 !important;
    }

    .ce-paragraph {
        line-height: $line-height-base !important;
        margin-bottom: $paragraph-margin-bottom;
    }

    .cdx-list {
        padding-left: 1rem !important;

        .cdx-list__item {
            padding: 0 $list-inline-padding !important;
        }
    }
    
    .image-tool__caption,
    [data-item-name="withBorder"],
    [data-item-name="withBackground"],
    [data-item-name="stretched"] {
        display: none !important;
    }
}
