{% load notifications_tags %}
{% has_new_notifications as new %}

<div class="nav-item dropdown">
  <a href="#"
     class="nav-link"
     data-bs-toggle="dropdown"
     data-bs-auto-close="outside"
     hx-get="{% url 'notifications:notifications-list' %}"
     hx-target="ul"
     hx-trigger="click once"
     hx-indicator="#notificationsLoader">
    <i class="icon ti ti-bell"></i>
    {% if new %}
    <span id="newNotificationsBadge" class="badge bg-red"></span>
    {% else %}
    <span id="newNotificationsBadge"></span>
    {% endif %}
  </a>
  <div class="dropdown-menu dropdown-menu-end dropdown-menu-card dropdown-menu-arrow"
       aria-expanded="false"
       data-bs-popper="static"
       style="width: 20rem;">
    <div class="card">
      <div class="card-header sticky-top">
        <h3 class="card-title">Notifications</h3>
        <div class="card-actions btn-actions">
          {% if new %}
          <button class="btn-action"
                  id="deleteAllNotificationsButton"
                  hx-get="{% url 'notifications:delete_all' %}"
                  hx-target="ul"
                  hx-trigger="click once"
                  hx-swap="outerHTML">
            <i class="icon ti ti-list-check"></i>
          </button>
          {% endif %}
          <a href="{% url 'users:notifications' %}" class="btn-action">
            <i class="icon ti ti-settings"></i>
          </a>
        </div>
      </div>
      <div class="overflow-auto d-flex flex-column" style="height: 27.5rem;">
        <ul class="list-group list-group-hoverable list-group-flush">
          {% include 'notifications/notification-list.html' %}
        </ul>
        <div id="notificationsLoader" class="htmx-indicator my-3 flex-fill d-flex justify-content-center">
          <span class="spinner-border text-muted align-self-center" role="status"></span>
        </div>
      </div>
    </div>
  </div>
</div>
