{% load static %}

{% for notification in notifications %}
<li class="list-group-item list-group-item-action"
    {% if forloop.last and page_obj.has_next %}
    hx-get="{% url 'notifications:notifications-list' %}?page={{ page_obj.next_page_number }}"
    hx-trigger="intersect once"
    hx-target="this"
    hx-indicator="#notificationsLoader"
    hx-swap="afterend"
    {% endif %}>
  {% include 'notifications/notification.html' %}
</li>
{% empty %}
{% if request.htmx %}
<div class="container-slim py-5 text-center">
  <img src="{% static 'notifications/images/feeling_of_joy.svg' %}" class="mb-4 pe-none">
  <h2>No new notifications</h2>
  <p class="text-muted">You have not received any new notifications.</p>
</div>
{% endif %}
{% endfor %}
