header {
    background: rgba($light, 0.825);
    backdrop-filter: blur(6px);
    z-index: 1050 !important;
}

.user-menu-dropdown-toggle {
    &:hover,
    &.show {
        background-color: $gray-200;
    }
}
