<label class="row" for="{{ checkbox.id_for_label }}">
  <div class="col">
    <h4 class="form-label">{{ checkbox.label }}</h4>
    <small class="form-hint">{{ checkbox.help_text }}</small>
  </div>
  <span class="col-auto">
    <label class="form-check form-check-single form-switch" for="{{ checkbox.id_for_label }}">
      <input class="form-check-input"
             type="checkbox"
             name="{{ checkbox.name }}"
             id="{{ checkbox.id_for_label }}"
             {% if checkbox.value %}checked{% endif %}>
    </label>
  </span>
</label>
