<div {% if wrapper_class %}class="{{ wrapper_class }}"{% endif %}>
  {% if field.label %}
  <label for="{{ field.id_for_label }}" class="form-label">
    {{ field.label }}
  </label>
  {% endif %}
  
  {% if field.help_text %}
    <div class="form-hint mb-2">
      {{ field.help_text }}
    </div>
  {% endif %}
  
  {% if field.field.widget.input_type == "file" %}
    <label for="{{ field.id_for_label }}" class="btn btn-secondary d-sm-inline-block d-none mt-2">
      <i class="icon ti ti-upload"></i>
      Upload {{ field.name|capfirst }}
    </label>
  {% else %}
    {{ field }}
  {% endif %}

  {% if field.errors %}
    <ul class="list-unstyled mb-0 mt-1 text-danger">
      {% for error in field.errors %}
        <li>
          <p class="mb-0 mt-2 lh-sm">
            {{ error }}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
