@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$font-family-base: "Rubik", sans-serif;

$font-size-base: 0.875rem;
$font-size-sm: 0.75rem;
$font-size-lg: 1rem;

$icon-font-size-base: $font-size-base * 1.25;
$icon-font-size-sm: $font-size-sm * 1.25;
$icon-font-size-lg: $font-size-lg * 1.25;

$font-weight-medium: 500;

$line-height-base: 1.325;
$line-height-sm: 1.225;
$line-height-lg: 1.625;

$paragraph-margin-bottom: 0.875rem;

$primary: #3d64e4;
$secondary: #606b71;
$dark: #2e2e30;
$text-muted: $secondary;

$body-color: $dark;
$link-color: #2a6ed1;
$link-hover-color: #a5d66b;
$link-decoration: none;

$list-inline-padding: 0;
$mark-padding: 0;

$component-active-bg: $dark;

$btn-focus-width: 0.15rem;

$input-focus-width: 0; // dont work for normal inputs
$input-focus-border-color: $secondary;

$btn-close-focus-shadow: none;

$btn-transition: color 0.1s ease-out, background-color 0.1s ease-out, border-color 0.1s ease-out,
  box-shadow 0.1s ease-out, scale 0.1s ease-out;

$transition-scale-in: scale 0.1s ease-out;

$badge-font-weight: 500;

$alert-bg-scale: -87.5%;

$modal-fade-transform: translateY(16px) scale(0.875, 0.925);

$enable-caret: false;
$enable-negative-margins: true;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: map-remove($theme-colors, "info", "warning");

$custom-font-sizes: (
  "base": $font-size-base,
  "sm": $font-size-sm,
  "lg": $font-size-lg,
  "icon-base": $icon-font-size-base,
  "icon-sm": $icon-font-size-sm,
  "icon-lg": $icon-font-size-lg,
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

$legend-font-weight: map-get($font-sizes, 4);

$h1-font-size: $font-size-base * 1.7;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.3;
$h4-font-size: $font-size-base * 1.1;

$dropdown-font-size: $font-size-lg;
$dropdown-item-padding-x: $spacer * 0.45;
$dropdown-item-padding-y: $spacer * 0.35;
$dropdown-min-width: auto;
$dropdown-link-hover-bg: #f4f6f7;
$dropdown-link-active-bg: $dropdown-link-hover-bg;
$dropdown-link-active-color: auto;

$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' stroke-width='2' stroke='#{$form-feedback-icon-valid-color}' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><circle cx='12' cy='12' r='9'></circle><path d='M9 12l2 2l4 -4'></path></svg>");
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' stroke-width='2' stroke='#{$form-feedback-icon-invalid-color}' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><circle cx='12' cy='12' r='9'></circle><line x1='12' y1='8' x2='12' y2='12'></line><line x1='12' y1='16' x2='12.01' y2='16'></line></svg>");

$form-validation-states: (
  "valid": (
    "color": $form-feedback-valid-color,
    "icon": $form-feedback-icon-valid,
  ),
  "invalid": (
    "color": $form-feedback-invalid-color,
    "icon": $form-feedback-icon-invalid,
  ),
);
