@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Colors

// scss-docs-start color-variables
$primary:     #3d64e4;
$secondary:   #606b71;
$dark:        #2e2e30;

$text-muted:    $secondary;

$body-color:    $dark;
// scss-docs-end color-variables


// Spacing

// scss-docs-start spacer-variables
$spacer: 1rem;
// scss-docs-end spacer-variables


// Typography

// scss-docs-start font-variables
$font-family-base:    "Rubik", sans-serif;

$font-size-base:      0.875rem;
$font-size-sm:        0.75rem;
$font-size-lg:        1rem;

$icon-font-size-base: $font-size-base * 1.25;
$icon-font-size-sm:   $font-size-sm * 1.25;
$icon-font-size-lg:   $font-size-lg * 1.25;

$custom-font-sizes: (
  "base":       $font-size-base,
  "sm":         $font-size-sm,
  "lg":         $font-size-lg,
  "icon-base":  $icon-font-size-base,
  "icon-sm":    $icon-font-size-sm,
  "icon-lg":    $icon-font-size-lg,
);

$font-weight-normal:  400;
$font-weight-medium:  500;

$line-height-base:    1.325;
$line-height-sm:      1.225;
$line-height-lg:      1.625;

$h1-font-size:        $font-size-base * 2.2;
$h2-font-size:        $font-size-base * 2;
$h3-font-size:        $font-size-base * 1.8;
$h4-font-size:        $font-size-base * 1.6;
$h5-font-size:        $font-size-base * 1.4;
$h6-font-size:        $font-size-base * 1.2;
// scss-docs-end font-variables

// scss-docs-start type-variables
$list-inline-padding:  0;

$mark-padding:         0;

$legend-font-size:     $h4-font-size;
// scss-docs-end type-variables


// Options

// scss-docs-start option-variables
$enable-caret:             false;
$enable-negative-margins:  true;
// scss-docs-end option-variables


// Links

// scss-docs-start link-variables
$link-color:        #3d8bfd;
$link-hover-color:  #0a58ca;
$link-decoration:     none;
$link-transition:     color 0.1s ease-out, background-color 0.1s ease-out;
// scss-docs-end link-variables


// Paragraphs

// scss-docs-start paragraph-variables
$paragraph-margin-bottom: 0.875rem;
// scss-docs-end paragraph-variables


// Components

// scss-docs-start component-variables
$component-active-bg:         $dark;
$component-active-transform:  scale(0.95);
// scss-docs-end component-variables

// Badges

// scss-docs-start badge-variables
$badge-font-weight: $font-weight-medium;
// scss-docs-end badge-variables


// Alerts

// scss-docs-start alert-variables
$alert-bg-scale: -87.5%;
// scss-docs-end alert-variables


// Modals

// scss-docs-start modal-variables
$modal-fade-transform: translateY(16px) scale(0.875, 0.925);
// scss-docs-end modal-variables


// Forms

$input-line-height:          $line-height-sm;
$input-btn-focus-width:      0.05rem;

$btn-focus-width:            0.15rem;

$input-focus-border-color:   $secondary;

$btn-close-focus-shadow:     none;

$btn-transition:             color 0.1s ease-out, background-color 0.1s ease-out, 
  border-color 0.1s ease-out, box-shadow 0.1s ease-out, transform 0.1s ease-out;

// scss-docs-start form-label-variables
$form-label-margin-bottom:   $spacer * 0.125;
$form-label-font-size:       $font-size-sm;
$form-label-font-weight:     $font-weight-normal;
$form-label-color:           $text-muted;
// scss-docs-end form-label-variables


// Dropdown

// scss-docs-start dropdown-variables
$dropdown-min-width:             auto;
$dropdown-spacer:                0.125rem;
$dropdown-li-padding-x:          $dropdown-spacer * 4;
$dropdown-item-padding-x:        $spacer * 0.45;
$dropdown-item-padding-y:        $spacer * 0.35;
$dropdown-font-size:             $font-size-lg;
$dropdown-icon-font-size:        $icon-font-size-lg;

$dropdown-link-transition:       background-color 0.1s ease-out, transform 0.1s ease-out, opacity 0.1s ease-out;

$dropdown-link-hover-bg:       #f4f6f7;

$dropdown-link-active-bg:        $dropdown-link-hover-bg;
$dropdown-link-active-color:     auto;

$dropdown-link-focus-opacity:    0.8;
// scss-docs-end dropdown-variables


// Transitions

// scss-docs-start transition-variables
$scale-in-transition:          transform 0.1s ease-out;

$picture-scale-in-transition:  filter 0.1s ease-out, transform 0.1s ease-out;
// scss-docs-end transition-variables


// Bootstrap overrides

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: map-remove($theme-colors, "info", "warning");

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

// scss-docs-start form-feedback-variables
$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' stroke-width='2' stroke='#{$form-feedback-icon-valid-color}' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><circle cx='12' cy='12' r='9'></circle><path d='M9 12l2 2l4 -4'></path></svg>");
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' stroke-width='2' stroke='#{$form-feedback-icon-invalid-color}' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><circle cx='12' cy='12' r='9'></circle><line x1='12' y1='8' x2='12' y2='12'></line><line x1='12' y1='16' x2='12.01' y2='16'></line></svg>");

$form-validation-states: (
  "valid": (
    "color":  $form-feedback-valid-color,
    "icon":   $form-feedback-icon-valid
  ),
  "invalid": (
    "color":  $form-feedback-invalid-color,
    "icon":   $form-feedback-icon-invalid
  )
);
// scss-docs-end form-feedback-variables
