{% extends 'base_site.html' %}
{% load editorjs %}

{% block content %}
<div class="row flex-fill">
    <div class="col-8 flex-fill d-flex flex-column">
        <section class="d-flex gap-2 fs-md lh-1 pb-3 mb-4 border-bottom">
            {% include 'includes/user_avatar.html' with user=article.author style='width: 2.125rem;' class='rounded-circle' %}
            <div class="d-flex flex-column justify-content-between">
                <a href="{{ article.author.get_absolute_url }}" class="text-arsenic fw-medium">{{ article.author.get_full_name }}</a>
                <div class="d-flex gap-1 text-muted">
                    <time datetime="{{ article.created_at|date:"Y-m-d" }}">{{ article.created_at|date:"F, d, Y" }}</time>
                    <span class="circle-divider"></span>
                    <p class="mb-0">{{ article.category.name }}</p>
                </div>
            </div>
        </section>
        <article class="post__article text-break">
            {{ article.body | editorjs }}
        </article>
        {% if request.user == article.author or request.user.is_staff %}
        <section class="d-flex flex-fill flex-column justify-content-end mt-2">
            <h5>Manage article</h5>
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center justify-content-between">
                    <hgroup>
                        <h6 class="mb-0 fs-md lh-base">Update this article</h6>
                        <p class="mb-0 fs-md lh-1">Last modified at <time datetime="{{ article.created_at|date:"Y-m-d" }}">{{ article.created_at|date:"F, d, Y" }}</time>.</p>
                    </hgroup>
                    <a href="{% url 'articles:article_update' article.pk article.slug %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                    <hgroup>
                        <h6 class="mb-0 fs-md lh-base">Delete this article</h6>
                        <p class="mb-0 fs-md lh-1">Once you delete an article, there is no going back. Please be certain.</p>
                    </hgroup>
                    <a href="{% url 'articles:article_delete' article.pk article.slug %}" class="btn btn-sm btn-outline-danger">Delete</a>
                </li>
            </ul>
        </section>
        {% endif %}
    </div>
    <div class="col-lg-4 col-12 border-start-lg mt-lg-0 mt-4">
        <h5>More from masonex</h5>
        <ul class="list-unstyled">
            {% for article in featured_articles %}
            <li class="lh-sm fs-md mt-1">
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
