{% extends 'base.html' %}

{% block body %}
{% include 'includes/header.html' %}
<main class="container-xxl mx-auto my-3 my-md-4" style="max-width: 60em;">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="create-post-form needs-validation" novalidate>
        {% csrf_token %}
        {{ form.media }}
        <div class="mb-3">
            <section class="mb-3">
                <h2 class="text-muted fs-5 mb-1">Content</h2>
                {{ form.body }}
            </section>
            <div class="row mb-3">
                <section class="col-12 col-lg-6">
                    <h2 class="text-muted fs-5 fw-medium">Cover</h2>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <label for="{{ form.thumbnail.id_for_label }}" class="mb-3">
                            <div id="thumbnail">
                                <div class="border-dashed image-upload">
                                    <i class="ti ti-upload text-muted fs-4"></i>
                                    <figcaption class="mb-0 lh-sm fs-md mt-3">Upload an image</figcaption>
                                    <small class="text-muted lh-sm fs-sm">JPEG, size 1080 x 760</small>
                                </div>
                            </div>
                            {{ form.thumbnail }}
                        </label>
                        {{ form.title }}
                        {{ form.description }}
                    </div>
                </section>
                <section class="col-12 col-lg-6 mt-3 mt-md-0 d-flex flex-column">
                    <h2 class="text-muted fs-5 fw-medium">SEO</h2>
                    <div class="p-4 bg-light rounded shadow-sm flex-fill h-lg-100">
                        <p class="text-muted">This section will help you promote your post and get more views.</p>
                        {{ form.category }}
                        <p class="mb-2 text-muted">Follow our <a href="#" class="link">Terms of Service</a> and be polite.</p>
                        <p class="mb-0 text-muted">Learn more about how we use your posts <a href="#" class="link">here</a>.</p>
                    </div>
                </section>
            </div>
        </div>
        <section class="d-flex">
            <button type="submit" class="btn btn-sm btn-success w-100 w-md-auto px-md-3" on-validation-text="Processing...">{{ submit }}</button>
        </section>
    </form>
</main>
{% endblock body %}
