{% extends 'base.html' %}
{% load editorjs helpers %}

{% block content %}
<div class="flex-fill d-flex flex-column" style="max-width: 40rem;">
    <section class="fs-md lh-1 mb-3 d-flex gap-2">
        <a href="{{ article.author.get_absolute_url }}" class="scale-in">
          {% user_avatar user=article.author width="2.5em" %}
        </a>
        <div class="d-flex flex-column justify-content-between">
            <a href="{{ article.author.get_absolute_url }}" class="link-arsenic fw-medium">
                {{ article.author.get_full_name }}
            </a>
            <div class="text-muted d-flex gap-1">
                <time datetime="{{ article.created_at|date:"Y-m-d" }}">
                    {{ article.created_at|date:"F, d, Y" }}
                </time>
                <span class="circle-divider"></span>
                <p class="mb-0">{{ article.category.name }}</p>
            </div>
        </div>
    </section>
    <article class="article__body text-break">{{ article.body | editorjs }}</article>
    {% if request.user == article.author or request.user.is_staff %}
    <section class="mt-2 flex-fill d-flex flex-column justify-content-end">
        <h5>Manage article</h5>
        <ul class="list-group">
            <li class="list-group-item list-group-item-control">
                <hgroup>
                    <h6>Update this article</h6>
                    <p>
                        Last modified at 
                        <time datetime="{{ article.created_at|date:"Y-m-d" }}">{{ article.created_at|date:"F, d, Y" }}</time>.
                    </p>
                </hgroup>
                <a href="{% url 'articles:article_update' article.pk article.slug %}" class="btn btn-sm btn-outline-secondary">Edit</a>
            </li>
            <li class="list-group-item list-group-item-control">
                <hgroup>
                    <h6>Delete this article</h6>
                    <p>Once you delete an article, there is no going back. Please be certain.</p>
                </hgroup>
                <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#articleDeleteModal">Delete</a>
                {% url 'articles:article_delete' article.pk article.slug as article_delete_url %}
                {% delete_confirm_modal object_name="article" delete_url=article_delete_url %}
            </li>
        </ul>
    </section>
    {% endif %}
</div>
{% endblock content %}
