{% extends 'base_site.html' %}
{% load static articles_tags %}

{% block content %}
<div class="w-6">
    <section>
        {% if request.GET.query %}
        <h1 class="fs-5 fw-normal">Search results for <strong class="text-break">{{ request.GET.query }}</strong></h1>
        {% if articles %}
        <ul class="list-unstyled">
            {% for article in articles %}
            <li class="mb-2">
                <a href="{{ article.get_absolute_url }}" class="mb-1">
                    {{ article.title|truncatechars:64|highlight:request.GET.query }}
                </a>
                <p class="text-break mb-0">
                    {{ article.description|truncatechars:128|highlight:request.GET.query }}
                </p>
            </li>
            {% endfor %}
        </ul>
        {% include 'includes/pagination.html' %}
        {% else %}
        <div class="text-muted">
            <ul class="list-unstyled">
                <li>Make sure all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
        </div>
        {% endif %}
        {% else %}
        <h1 class="fs-5">Make a query to search.</h1>
        <a href="{% url 'articles:home' %}" class="btn btn-sm btn-primary">See featured articles</a>
        {% endif %}
    </section>
</div>
{% endblock content %}
