{% extends 'base.html' %}
{% load helpers %}

{% block content %}
<section class="text-center mb-4 pb-3 border-bottom d-flex justify-content-center">
  <div class="w-6">
    {% user_avatar user=author css_class="rounded" width="10em" %}
    <h1 class="fs-5 mb-1 mt-3">{{ author.get_full_name }}</h1>
    {% if author.bio %}
    <p class="lh-sm mb-0">{{ author.bio }}</p>
    {% endif %}
  </div>
</section>
<section>
  <h2 class="text-center fs-6 mb-3">By this author</h2>
  {% include 'articles/includes/article_list.html' %}
</section>
{% endblock content %}
