.aside-col {
  // 3rem is margin y of main
  --height: calc(#{$header-height} + 1.5rem);
  position: sticky;
  top: var(--height);
  max-height: calc(100vh - var(--height) - 1.5rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: map-get($spacers, 3);

  ul {
    @include list-unstyled();
    line-height: $line-height-sm;
    display: flex;
    flex-direction: column;
    gap: map-get($spacers, 2);
    margin-bottom: 0;
  }

  h6 {
    font-size: $font-size-base;
    color: $text-muted;
  }

  a {
    color: $body-color;
  }
}

.article__body {
  // @include text-break();

  img {
    width: 100%;
    border-radius: $border-radius;
    margin-bottom: $spacer * 0.625;
  }

  ol,
  ul {
    padding-left: $spacer !important;

    li {
      padding: 0 $list-inline-padding !important;
    }
  }

  blockquote {
    border-left: 2px $border-style $border-color;
    padding-left: $spacer * 0.625;

    cite {
      color: $gray-700;
      font-style: italic;
      margin-top: $spacer * 0.125;
      display: block;
    }
  }
}
