.border-dashed {
  border: 2px dashed $gray-500;
  border-radius: 4px;
}

.image-upload,
.image-upload img {
  width: 212px;
  height: 132px;
  object-fit: cover;
}

.bs-searchbox {
  padding: 0 !important;
}

.cdx-warning:before {
  display: none;
}
