// $header-height: 3.5rem;

.aside-col {
  // 3rem is margin y of main
  --height: calc(#{$header-height} + 1.5rem);
  position: sticky;
  top: var(--height);
  max-height: calc(100vh - var(--height) - 1.5rem);
  overflow-y: auto;

  ul {
    @include list-unstyled();
    line-height: $line-height-sm !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  h6 {
    font-size: $font-size-base;
    color: $text-muted;
  }  
}

.article__body {
  // @include text-break();

  .alert {
    background-color: var(--msx-primary-bg-subtle);
    border: $border-width $border-style var(--msx-primary-border-subtle);
    border-radius: $border-radius;  
    color: var(--msx-primary-text);
    box-shadow: $box-shadow-sm;
  }

  .alert__title {
    font-weight: $font-weight-medium;
    font-size: $font-size-lg;
  }

  .delimiter {
    text-align: center;

    &:before {
      display: inline-block;
      content: "***";
      font-size: 30px;
      line-height: 65px;
      height: 30px;
      letter-spacing: 0.2em;
    }
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    margin-bottom: $spacer * 0.625;
    box-shadow: $box-shadow-sm;
  }

  ol,
  ul {
    padding-left: $spacer !important;

    li {
      padding: 0 $list-inline-padding !important;
    }
  }

  blockquote {
    border-left: 2px $border-style $border-color;
    padding-left: $spacer * 0.625;

    cite {
      color: $gray-700;
      font-style: italic;
      margin-top: $spacer * 0.125;
      display: block;
    }
  }
}
